In [3]:
a=20
b=30
c=12
print( a+b+c )

62

In [4]:
name= "ravindra"
print(name)

ravindra

In [5]:
name1="hello world"
print(name1 + name)

hello worldravindra

# datatype

In [7]:
a =1000
print(a)
print(type(a))

1000
<class 'int'>

In [8]:
v = 23.34
print(v)
print(type(v))

23.34
<class 'float'>

In [9]:
name1 ="pune"
print(name1)
print(type(name1))

pune
<class 'str'>

In [11]:
q = False
print(q)
print(type(q))

False
<class 'bool'>

# Oprerator

In [13]:
z=100
x=5
print(z+x)
print(z-x)
print(z*x)
print(z/x)
print(z**x)
print(z//x)
print(z%x)

105
95
500
20.0
10000000000
20
0

# comparision operator

In [14]:
a = 1000
b =  200
print(a>b)

True

In [15]:
print(a<b)

False

In [16]:
c = 200

In [17]:
print(b==c)

True

# Logical operator

In [20]:
a=500
b=1000
c=1500
print(a<b and b<c)
print(a<b and b>c)
print(a<b or b<c)
print(a<b or b>c)
print(not(not(not(a<b))))

True
False
True
True
False

# Assignment operator

In [21]:
A = 400
A= A+ 40
print(A)

440

In [22]:
b= 200
b+=20
print(b)

220

# String

In [24]:
a= "rajasthan is the part of india"
print(len(a))

30

In [25]:
a= " rajasthan"
print(a.upper())

 RAJASTHAN

In [26]:
a= "rajasthan"
print(a[0 : 4])

raja

In [27]:
a ="rajasthan"
print(a[-4:])

than

# Some other part of database

In [28]:
marks =[20,12,34,22,12,67]
print(marks)

[20, 12, 34, 22, 12, 67]

In [29]:
print(marks[3])

22

In [30]:
allldata =[12, "rahul", "pali", False, True, 12.32]
print(allldata)

[12, 'rahul', 'pali', False, True, 12.32]

In [31]:
list5 = ["hey", "how" ,"are", "you","ravindra"]
print(list5)

['hey', 'how', 'are', 'you', 'ravindra']

In [33]:
list5[4] = "vinita"
print(list5)

['hey', 'how', 'are', 'you', 'vinita']

In [34]:
list5.remove("vinita")
print(list5)

['hey', 'how', 'are', 'you']

# Tuple

In [35]:
tupl =( "hello", "how" , "are", "you","don")
print(tupl)

('hello', 'how', 'are', 'you', 'don')

# Dictionary

In [36]:
Dic1= { "ravi" : 12, "sunil" : 23, "mukesh": 11}
print(Dic1)

{'ravi': 12, 'sunil': 23, 'mukesh': 11}

In [37]:
print(type(Dic1))

<class 'dict'>

In [38]:
Dic1.keys()

dict_keys(['ravi', 'sunil', 'mukesh'])

In [40]:
Dic1.values()

dict_values([12, 23, 11])

# Set

In [42]:
set1 ={1,2,3, "hello"}
print(set1)
print(type(set1))

{1, 2, 3, 'hello'}
<class 'set'>

In [43]:
set2={1,2,2,2,3,3,1,1,}
print(set2)

{1, 2, 3}

# Conditional Operators

In [46]:
a = 20
b = 30
if(a>b):
    print("a is greater than b")

In [48]:
a = 20
b = 30
if(a>b):
    print("a is greater than b")
else:
    print("b is greater than a")

b is greater than a

In [55]:
a = int(input("enter the value of a "))
b = int(input("enter the value of b "))
c = int(input("enter the value of c "))

if(a>b and b>c):
    print("a is greater than c and b")
elif (b>a and b>c):
    print("b is greater that a and c")
else: 
    print("c is grestest number")

enter the value of a 12
enter the value of b 23
enter the value of c 34
c is grestest number

# Python Loops

In [58]:
for i in range(1,10):
 print(i)

1
2
3
4
5
6
7
8
9

In [61]:
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [62]:
i=0
while(i<10):
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9

# Function in Python Programing

In [63]:
def add():
    a = 60
    b = 40
    print(a + b)

In [64]:
add()

100

In [65]:
def fun1():
    a=2
    b=4
    c=6
    print(a*b*c)

In [66]:
fun1()

48

In [68]:
def add(a,b):
    print(a+b)

In [69]:
add(2,4)

6

In [70]:
add(300,200)

500